/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */

body {
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* Typeography General*/

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */

main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
    text-decoration: none;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
}

.navbar__menu .menu__link:hover {
    background: lightseagreen;
    color: #fff;
    transition: ease 0.3s all;
}

#navbar__list li a {
    text-decoration: none;
    color: rgb(1, 7, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

.scrollLink:hover {
    padding-top: auto;
    background: lightseagreen;
    color: whitesmoke;
    transition: ease 0.3s all;
    text-decoration: none;
    border: transparent;
}

/* Active link Styles */

.scrollLink.active-class {
    background-color: palevioletred;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}

/* Header Styles */

.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */

.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}

/*Top Button*/

html {
    scroll-behavior: smooth;
}

.to-top {
    background: wheat;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

/* ---- Theme Rules ---- */

/* Landing Container Styles */

.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */

/* Note that background circles are created with psuedo elements before and after */

/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */

/* Section Active Styles */

/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    border: double 10px rgb(255, 0, 242);
    background-color: rebeccapurple;
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

.demo-class {
    color: white;
}

.your-active-class h2 {
    color: gold;
}

.your-active-class li {
    color: white;
}

/* Section Active Styles Keyframe Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

/* Styles for screensizes */

/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {
    .navbar__menu li {
        width: 40%;
        margin: 1px;
    }
    .navbar__menu ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 60px;
        justify-content: center;
        align-content: space-around;
        text-align: center;
        background-color: rgb(53, 53, 247);
    }
    #navbar__list li a {
        color: white;
    }
    .to-top {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-bottom: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .navbar__menu li {
        background-color: rgb(86, 86, 250);
        width: 100%;
        background-origin: padding-box;
        border-style: solid;
    }
    .navbar__menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: rgb(200, 236, 248);
    }
    #navbar__list li a {
        color: white;
        font-size: 30px;
        align-items: center;
        text-align: left;
    }
    .navbar__menu li {
        width: 40%;
        margin: 1px;
    }
    .navbar__menu ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 60px;
        justify-content: center;
        align-content: space-around;
        text-align: center;
        background-color: rgb(53, 53, 247);
    }
    #navbar__list li a {
        color: white;
    }
    .to-top {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-bottom: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .navbar__menu li {
        width: 40%;
        align-content: space-around;
        margin: 15px 10px 15px 10px;
    }
    .navbar__menu ul {
        display: flex;
        flex-direction: row;
        height: fit-content;
        align-content: space-around;
        flex-wrap: wrap;
        padding: 1vh;
    }
    #navbar__list li a {
        color: white;
        text-align: center;
        font-size: 4vh;
    }
    section.your-active-class {
        font-size: 2vh;
        margin-top: 28%;
    }
    section:nth-of-type(even) .landing__container {
        margin-top: 2vh;
        padding-top: 120px;
        padding-bottom: 10px;
        position: absolute;
        top: 50%;
        font-size: 1.8vh;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    section:nth-of-type(odd) .landing__container {
        padding-top: 50px;
        padding-bottom: 70px;
        margin-top: 2vh;
        position: absolute;
        top: 50%;
        font-size: 1.8vh;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .to-top {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .navbar__menu li {
        width: 40%;
        align-content: space-around;
        margin: 15px 10px 15px 10px;
    }
    .navbar__menu ul {
        display: flex;
        flex-direction: row;
        height: fit-content;
        align-content: space-around;
        flex-wrap: wrap;
        padding: 1vh;
    }
    #navbar__list li a {
        color: white;
        text-align: center;
        font-size: 4vh;
    }
    section.your-active-class {
        font-size: 2vh;
        margin-top: 28%;
    }
    section:nth-of-type(even) .landing__container {
        margin-top: 2vh;
        padding-top: 10px;
        position: absolute;
        top: 50%;
        font-size: 1.8vh;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-bottom: 100px;
        padding-top: 280px;
    }
    section:nth-of-type(odd) .landing__container {
        padding-top: 280px;
        padding-bottom: 100px;
        margin-top: 2vh;
        position: absolute;
        top: 50%;
        font-size: 1.8vh;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .to-top {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}